.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.signup__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.signup__support-text {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.signup__input {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.signup__input:focus {
    outline: none;

}

.signup__btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    margin-top: 10px;
}