.main-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.main {
    background: url('../../assets/img/main-back.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
    margin-top: 65px;
}