.auth-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.auth-img {
    background: url('../../../public/img/img-authorization.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 50%;
    min-height: 100%;
}

.auth-main {
    min-width: 50%;
    min-height: 100%;
    background: rgba(197, 237, 250, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
