.main-cardPreview {
    width: 340px;
    height: 265px;
    padding: 40px 50px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(197, 237, 250, 0.5);
    border-radius: 20px;
    margin: 0px 50px 70px 50px;
}

.main-cardPreview__img {
    width: 230px;
    height: 160px;
}

.main-cardPreview__title {
    margin-top: 10px;
}