.main-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.main {
    background: url('../../assets/img/main-back.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    margin-top: 65px;
}

.main-card {
    width: 1030px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(197, 237, 250, 0.5);
    border-radius: 20px;
    position: relative;
}

.main-card__img {
    width: 645px;
    height: 450px;
    padding-top: 50px;
}

.main-card__title {
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
}

.main-card__text {
    padding: 15px 120px 50px 120px;
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
}

.main-card__delete-btn {
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    padding-bottom: 10px;
    margin-left: 900px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}