.modal-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    position: relative;
    background-color: #FFF;
    width: 50vw;
    min-width: 370px;
    height: max-content;
    max-height: 80%;
    border-radius: 10px;
}

.modal__btn-close {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 60px;
    align-items: center;
}

.modal__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.modal__support-text {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.modal__input {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    background: #E3F3F8;
    border-radius: 10px;
    border-radius: 10px;
    border: none;
}

.modal__input:focus {
    outline: none;
}

.modal__text-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    width: 100%;
    background: #E3F3F8;
    border: none;
    resize: vertical;
}

.modal__text-body:focus {
    outline: none;
}

.modal__make-post {
    position: absolute;
    right: 25px;
    bottom: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}