.header {
    width: 100%;
    height: 65px;
    background: #C5EDFA;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
}

.header-logo {
    margin-left: 50px;
    flex: 1;
    display: flex;
    align-items: center;
}

.header-logo__img {
    width: 50px;
    height: 50px;
}

.header-logo__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 76px;
}

.header__subtitle {
    flex: 3;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.header-navigate {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.header-navigate__btn,
.header-navigate__btn-login {
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.header-navigate__btn-login {
    justify-content: flex-end;
    margin-left: auto;
}
